In [71]:
import pandas as pd
import requests
import json

ModuleNotFoundError: No module named 'parameters'

In [64]:
def extract_data_from_api():
    url = 'http://economia.awesomeapi.com.br/json/last/USD-BRL,EUR-BRL,BTC-BRL'
    response = requests.get(url)
    response = response.json()
    #df = pd.DataFrame(json.loads(response.content))

    return response

In [66]:
def transform_data(response):
    response = response
    lista = ['USDBRL','EURBRL','BTCBRL']

    dicionario = {
        'code' : [],
        'codein' : [],
        'name' : [],
        'high' : [],
        'low' : [],
        'bid' : [],
        'ask' : [],
        'timestamp' : [],
        'create_date' : [],
        'timestamp' : []
    }
    for i in lista:
        #print(response)
        #print(response[i]['code'])
        code = response[i]['code']
        codein 		= response[i]['codein']
        name  		= response[i]['name']
        high  		= response[i]['high']
        low  		= response[i]['low']
        bid  		= response[i]['bid']
        ask   		= response[i]['ask']
        timestamp  	= response[i]['timestamp']
        create_date = response[i]['create_date']
        timestamp  	= response[i]['timestamp']


        dicionario['code'].append(code)
        dicionario['codein'].append(codein)
        dicionario['name'].append(name)
        dicionario['high'].append(high)
        dicionario['low'].append(low)
        dicionario['bid'].append(bid)
        dicionario['ask'].append(ask)
        dicionario['timestamp'].append(timestamp)
        dicionario['create_date'].append(create_date)
        dicionario['timestamp'].append(timestamp)

    df = pd.DataFrame.from_dict(dicionario,orient='index')
    df = df.T

    # Dropando linhas que est찾o nulas baseando na coluna create_date como null
    df = df.dropna(subset=['create_date'])

    return df

In [68]:
def load_local_data(df):
    df = df
    file_path = r'C:\Users\marco\Documents\cloud\gcp\output\price_market.csv'
    df.to_csv(file_path,sep=';',index=False, mode='a')

In [69]:
def main():
    response = extract_data_from_api()
    df = transform_data(response)
    load_local_data(df)

In [70]:
if __name__ == '__main__':
    main()

In [10]:
#df_index = df.set_index('code','codein','name','high','low','varBid','pctChange','bid','ask','timestamp','create_date')
df_index = df.set_index('USDBRL','EURBRL','BTCBRL')
df_index

C:\Users\marco\AppData\Local\Temp\ipykernel_4068\2770243062.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.set_index except for the argument 'keys' will be keyword-only.
  df_index = df.set_index('USDBRL','EURBRL','BTCBRL')

,,EURBRL,BTCBRL
,USDBRL,,
code,USD,EUR,BTC
codein,BRL,BRL,BRL
name,D처lar Americano/Real Brasileiro,Euro/Real Brasileiro,Bitcoin/Real Brasileiro
high,5.076,5.5641,146250
low,5.0195,5.5013,142750
varBid,-0.016,-0.0358,-512
pctChange,-0.31,-0.64,-0.36
bid,5.0551,5.516,143002
ask,5.0562,5.5213,143012
timestamp,1680706068,1680706069,1680706075
create_date,2023-04-05 11:47:48,2023-04-05 11:47:49,2023-04-05 11:47:55

In [11]:
df_index = df_index.T

In [13]:
df_index[df_index['']=='USD']

,code,codein,name,high,low,varBid,pctChange,bid,ask,timestamp,create_date
USDBRL,USD,BRL,D처lar Americano/Real Brasileiro,5.076,5.0195,-0.016,-0.31,5.0551,5.0562,1680706068,2023-04-05 11:47:48
EURBRL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BTCBRL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
url = 'http://economia.awesomeapi.com.br/json/last/USD-BRL,EUR-BRL,BTC-BRL'
response = requests.get(url)
response = response.json()
#df = pd.DataFrame(json.loads(response.content))

In [50]:
lista = ['USDBRL','EURBRL','BTCBRL']
dicionario = {
    'code' : [],
    'codein' : [],
    'name' : [],
    'high' : [],
    'low' : [],
    'bid' : [],
    'ask' : [],
    'timestamp' : [],
    'create_date' : [],
    'timestamp' : []
}
for i in lista:
    #print(response)
    #print(response[i]['code'])
    code = response[i]['code']
    codein 		= response[i]['codein']
    name  		= response[i]['name']
    high  		= response[i]['high']
    low  		= response[i]['low']
    bid  		= response[i]['bid']
    ask   		= response[i]['ask']
    timestamp  	= response[i]['timestamp']
    create_date = response[i]['create_date']
    timestamp  	= response[i]['timestamp']


    dicionario['code'].append(code)
    dicionario['codein'].append(codein)
    dicionario['name'].append(name)
    dicionario['high'].append(high)
    dicionario['low'].append(low)
    dicionario['bid'].append(bid)
    dicionario['ask'].append(ask)
    dicionario['timestamp'].append(timestamp)
    dicionario['create_date'].append(create_date)
    dicionario['timestamp'].append(timestamp)

df2 = pd.DataFrame.from_dict(dicionario,orient='index')
df2 = df2.T

# Dropando linhas que est찾o nulas baseando na coluna create_date como null
df2 = df2.dropna(subset=['create_date'])

In [51]:
df2

,code,codein,name,high,low,bid,ask,timestamp,create_date
0,USD,BRL,D처lar Americano/Real Brasileiro,5.076,5.0195,5.0416,5.0427,1680709352,2023-04-05 12:42:32
1,EUR,BRL,Euro/Real Brasileiro,5.5641,5.5013,5.5059,5.5075,1680709352,2023-04-05 12:42:34
2,BTC,BRL,Bitcoin/Real Brasileiro,146250,141812,142027,142072,1680709354,2023-04-05 12:42:38

In [49]:
df2

,code,codein,name,high,low,bid,ask,timestamp,create_date
0,USD,BRL,D처lar Americano/Real Brasileiro,5.076,5.0195,5.0416,5.0427,1680709352,2023-04-05 12:42:32
1,EUR,BRL,Euro/Real Brasileiro,5.5641,5.5013,5.5059,5.5075,1680709352,2023-04-05 12:42:34
2,BTC,BRL,Bitcoin/Real Brasileiro,146250,141812,142027,142072,1680709354,2023-04-05 12:42:38